<section class="hero has-background-danger-dark  is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title has-text-light  ">
        Products
      </p>
      <p class="subtitle has-text-light ">
        Here is what we offer
      </p>
    </div>
  </div>
</section>
<div class="box cta">
  <p class="has-text-centered">
    Click on selected product to see more details
  </p>
</div>
<section class="container">
  <% @products.each_slice(3) do |batch| %>
    <div class="columns features">
    <% batch.each do |product| %>
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://fuzati.com/wp-content/uploads/2016/12/Ruby-Logo.png" alt="Placeholder image" class="modal-button" data-target="modal-image2">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h5><%= product.name %></h5>
              <h6><%= product.price %></h6>
              <div>
                In stock: <span class="is-size-6 has-text-weight-semibold "><%= product.quantity %></span>
              </div>
              <span class="button is-link">
                <%= link_to(product) do %>
                  <span class="has-text-white is-size-6 has-text-weight-semibold">Details</span>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</section>
